<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <title>Document</title>
  </head>
  <body>
    <nav
      class="flex justify-between items-center border-b-2 border-blue-200 p-4 font-semibold"
    >
      <a href="#">
        <h1 class="text-3xl min-md:text-2xl text-blue-800">Help Me</h1>
      </a>
      <div class="flex justify-evenly gap-5 text-blue-600">
        <a href="#">
          <h2 class="hover:text-blue-500 min-md:text-sm">Home</h2>
        </a>
        <a href="#">
          <h2 class="hover:text-blue-500 min-md:text-sm">My Profile</h2>
        </a>
        <a href="#">
          <h2 class="hover:text-blue-500 min-md:text-sm">Log Out</h2>
        </a>
      </div>
    </nav>
    <section>{% block content %} {% endblock content %}</section>
  </body>
</html>
